/* COLORES A USAR */
:root {
  --c-fondo-pagina: #fef6ee;
  --c-letras-titulo: #452305;
  --c-fondo-header: #c49673;
  --c-dorado-hover: #8e5b1c;
}

/* HEADER ESTILO */
/* #region*/
header {
  display: flex;
  align-items: center;
  width: auto;
  background-color: var(--c-fondo-header);
  border-bottom: 5px solid var(--c-dorado-hover);
}

nav a {
  text-decoration: none;
  color: var(--c-letras-titulo);
  font-family: "playfairdisplay", serif;
  font-weight: bold;
  margin: 8px;
}

nav a:hover {
  color: var(--c-dorado-hover);
}

#menu-logo img {
  display: inline-block;
  width: 220px;
  vertical-align: middle;
}

#menu-logo h1 {
  font-size: 48px;
  color: var(--c-letras-titulo);
}

#menu-logo {
  display: flex;
  align-items: center;
}

#menu-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  font-size: 18px;
}
/* #endregion */

/* MAIN ESTILO */
/* #region*/
html,
body {
  background-color: var(--c-fondo-pagina);
  margin: 0;
}

#index {
  text-align: center;
  margin: 15px;
}

main {
  color: var(--c-letras-titulo);
}

main a {
  text-decoration: none;
  color: var(--c-letras-titulo);
}

main a:hover {
  color: var(--c-dorado-hover);
}
/* #endregion */

/* FOOTER ESTILO*/
/* #region */
footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: var(--c-dorado-hover);
  color: var(--c-fondo-pagina);
}
/* #endregion */

/*CARD ESTILO EQUIPO*/
/* #region */
.section-header h1 {
  margin: 20px;
  color: var(--c-letras-titulo);
  font-family: "playfairdisplay", serif;
  text-align: center;
  font-size: 36px;
}

.section-header p {
  margin: 20px;
  color: var(--c-letras-titulo);
  font-family: "Helvetica", serif;
  text-align: center;
  font-size: 20px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px; /* espacio entre tarjetas */
  margin: 20px;
}

.card-equipo {
  background-color: var(--c-fondo-header);
  border: 2px solid var(--c-letras-titulo);
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
  width: 380px;
}

.card-equipo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 150px;
  display: block;
  margin: 0 auto;
}

.card-equipo h1 {
  font-family: "playfairdisplay", serif;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.card-equipo h2 {
  font-family: "Helvetica", serif;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.card-equipo p {
  font-family: "Helvetica", serif;
  font-weight: normal;
  text-align: center;
}
/* #endregion */

/* form-reserva de pedido.html */
/* #region */
#form-reserva h2 {
  font-size: 34px;
}
#form-reserva {
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#reserva {
  margin: 40px;
}
/* #endregion */